*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    color: #555;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('assets/bg.avif');
    height: 100vh;
    background-size: cover;
    background-position: center;

}
 h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
 }

 .hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
} 

.btn-full:link,
.btn-full:visited{
    background-color: orange;
    color: white;
    border: 1px solid orange;
    margin-right: 25px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid orange;
    color: orange;
}

.btn:hover,
.btn:active{
    background-color: rgb(250, 101, 46);
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid rgb(250, 101, 46) ;
    color: white;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid rgb(250, 101, 46) ;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style:none;
    margin: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0px;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover{
    border-bottom: 2px solid orange;
}


section{
    padding: 80px 0px;
}
h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom:30px ;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
}